[Bb]uild

# =============== #
# Emacs generated #
# =============== #
*\#*
*.*~
# =============== #
# Unity generated #
# =============== #
/Temp
/Library
/Assets/AssetStoreTools*

*.pidb.meta

sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?